body{
	background-image: url("img/portfolio/bg1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

div {
	border-radius: 2px;
}

#header {
	z-index: 1;
	width: 100%;
	margin-top: 0px;
	margin-left: 0px;
	height: 45px;
	background-color: black;
	margin-bottom: 10px;

}


#name {
	float:left;
	margin-left: 5px;
	padding-top: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
}

.right p {
	margin-left: 30px;
	margin-right: 5px;
	margin-top: 15px;
	font-family: Arial, sans-serif;
	color: #000000;
}


.right h4 {
	margin-top: 25px;
	color: #000000;
}
li {
	margin-left: 30px;
	list-style-type: square;
	font-family: Arial, sans-serif;
}

a:hover {
	font-weight: bold;
	color: white;
}

.left {
	position: relative;
	float: left;
	margin-top: 10px;
	width: 5px;
	height: 20px;
	background-color: #B9D7D9;
	margin-bottom: 10px;
	margin-left: 25px;

}

.right {
	position: relative;
	float: right;
	margin-top: 25px;
	margin-right: 21px;
	width: 85%;
	height: 750px;
	background-color: white;
	margin-bottom: 10px;
	opacity: 0.75;
}

#footer {
	position: relative;
	height: 50px;
	background-color: black;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;

}

#footer p {
	position: relative;
	padding-top: 15px;
		color: #ffffff;
}

/* demo */

/*.col-sm-4 {border:1px solid red;}*/
.well {height:150px; width:350px; margin-left: 12%; margin-top: 5%;}
.height1 {height:150px;}
.height2 {height:150px}
.well-main{height: 500px; width: 200px;}
.media-body{margin-top: 50px;}

/* demo */


@media (min-width:768px) {
    .inline-block-row {
        word-spacing: -1em;
        letter-spacing: -1em;
        overflow:hidden;
    }
    .inline-block-row .col-sm-4 {
        word-spacing: normal;
        vertical-align: top;
        letter-spacing: normal;
        display: inline-block;
        float:none;
    }
}
@media (min-width:992px) {
    .inline-block-row .col-md-3 {
        float:none;
    }
}
