body{
	background-image: url("img/portfolio/contact.png");
    	background-repeat: no-repeat;
	background-attachment: fixed;
}	

p {
	margin-left: 100px;
	padding-right: 22%;
	padding-left: 22%;
	padding-top: 1%;
}

img {
	margin-left: 23%;
}

h1{
	padding-left:8%;
	padding-bottom: 2%;
	padding-top: 2%;
}

h3{
	padding-left:18%;
}

